<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Track Error Page Responsive Widget Template :: W3layouts</title>
	<!-- Meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- //Meta tags -->
	<link rel="stylesheet" href="../Assets/css/style-404.css" type="text/css" media="all" /><!-- Style-CSS -->
	<link href="../Assets/css/font-awesome.css" rel="stylesheet"><!-- font-awesome-icons -->
</head>

<body>
	<!-- content -->
	<div class="todo">
		<section class="w3l-error-block">
			<div class="mainw3 form">
				<div class="subscribe wrapper">
					<div class="subscribe-w3lsbottom text-center">
						<div class="w3l-page">
							Oops!
						</div>
						<h6>It looks like you have taken a wrong turn.</h6>
						<h2>404
							<p class="page-mk">page not found</p>
						</h2>
						<!-- <a class="play-icon popup-with-zoom-anim btn" href="#p1">
						Subscribe</a> -->
						<a class="theme-button btn" href="#">
							Back to Home</a>
					</div>
				</div>

		</section>
	</div>
</body>

</html>